body {
  font-family: "Lexend", sans-serif;
}

.socials a {
  color: #e0e0e0;
  font-size: 1.5rem;
  margin-right: 1mm;
}

.socials a:hover {
  color: #00ffa2;
}

.bg-color {
  background-color: #010712;
}

.dropdown-color {
  background-color: #05132e;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #00ffa2;
}
.navbar .nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #00ffa2;
}

.font-green {
  color: #00ffa2;
}
