body {
  font-family: "Lexend", sans-serif;
}

.socials a {
  color: #e0e0e0;
  font-size: 1.5rem;
  margin-right: 1mm;
}

.socials a:hover {
  color: #00ffa2;
}

.bg-color {
  background-color: #010712;
}

.dropdown-color {
  background-color: #05132e;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #00ffa2;
}
.navbar .nav .nav-item .nav-link {
  color: #ffffff;
}

.navbar .nav .nav-item .nav-link:hover {
  color: #00ffa2;
}

.color-green {
  color: #00ffa2;
}

.bg-green {
  background-color: #00ffa2;
}

.card {
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card:hover {
  transform: scale(105%);
  transition: 0.3s ease;
  box-shadow: 0 0 100px #00ffa2;
}
